body {
    width: 100vw;
    height: 100vh;
}

.brand_logo {
    margin-left: 10px;
    margin-right: 30px;
}

.detail_search {
    outline: none;
    border: none;
    max-width: 500px;
    width: 35%;
    margin-top: 8px;

    padding: 10px 10px 10px 30px;
    border-radius: 20px;
    box-shadow: gray 1px 3px 3px;

    font-size: 18px;
}

.detail_btn {
    width: 80px;
    position: relative;
    left: -80px;
    outline: none;
    border: none;
}

.detail_content {
    margin: 30px auto;
    width: 100%;
}

.info_box {
    width: 50%;
    margin: auto;
}

.track_list {
    margin: 0 auto;
    width: 50%;
}

.comment_input {
    padding: 10px;
    width: 95%;
}

.profile-name{
    font-size: 35px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.info-box{
    padding-top: 10px;
}
.info{
    font-family: 'LeferiPoint-BlackA';
}
.recommend{
    margin-bottom: 20px;
}
.recommend > button{
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 30px;
    background-color: #50b5b0;
    color: white;
    font-size: 20px;
    font-family: 'LeferiPoint-BlackA';
}

.recommend > button:hover{
    background-color: pink;
}

.recommend > p{
    margin-top: 10px ;
}