/** {*/
/*   font-family: 'Dongle', sans-serif;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*}*/

@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none!important;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover-bg {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://t1.daumcdn.net/cfile/tistory/1161194D50A457A40C");
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.nav-bg {
    width: 100vw;
    height: 15vh;

    background-image: url("/static/public/header.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.logo {
    width: 100%;
    height: 100%;
}

.logo-mini {
    width: 200px;
    margin-left: 20px;
}

.logo-middle {
    width: 370px;
}

.profile {
    width: 100vw;
}

.profile_position {
    position: relative!important;
    left: calc(100vw / 3)
}

.profile-text {
    font-weight: 700;
    color: black;
}

.image_box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}

.img_circle {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment_box {
    width: 800px;
    background: #ebf2ef;
    padding:30px;
    border-radius: 10px;
    margin: 0 auto;
}

.comment_box h2 {
    font-size: 25px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #2a493c;
}

.comment_list {
    background-color: #ebf2ef;
}