* {
    font-family: 'Dongle', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;

}

body {
    background-image: url("/static/public/header.jpg");
    background-size: cover;
    min-height: 100vh;

}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.title_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}

.title_box > img {
    width: 350px;
}

.subtitle {
    font-size: 3rem;
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
}


.is-sparta {
    color: #2a493c; !important;
}
.button {
    font-weight: 700;
}
.button.is-sparta {
    background-color: #50b5b0;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #50b5b0;
    color: #50b5b0 !important;
}

.help {
    color: gray;
}

/* star css & animation */
.fa-music {
  position: absolute;
  font-size: 30px;
    color: white;
}

.music1 {
  top: 50px;
  left: 400px;
  animation: music-one 2s infinite;
}

.music2 {
  top: 20px;
  right: 480px;
  animation: music-two 1.6s infinite;
}

.music3 {
  top: 160px;
  left: 480px;
  font-size: 12px;
  animation: music-three 1.8s infinite;
}

.music4 {
  top: 150px;
  right: 430px;
  font-size: 7px;
  animation: music-five 1.5s infinite;
}

.music5 {
  top: 200px;
  right: 500px;
  font-size: 20px;
  animation: music-five 2s infinite;
}

@keyframes music-one {
  0%, 100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes music-two {
  0%, 100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes music-three {
  0%, 100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes music-four {
  0%, 100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes music-five {
  0%, 100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}