* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Noto Sans KR', sans-serif;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.is-sparta {
    color: #2a493c !important;
}

/*.is-rounded {*/
/*    border-radius:70%;*/
/*    overflow: hidden;*/
/*}*/

/* BUTTON */
.btn.mybtn {
    background-color: #2a493c;
    border-color: transparent;
    color: #fff !important;
}

/* HEADER */
header {
    /* position: relative; */
    width: 100%;
    background-image: url("/static/public/header.jpg");
    top: 0;
    z-index: 9;
}

header > .inner {
    position: relative;
    height: 170px;
}

header > .logo {
    position: absolute;
    top: 30px;
    left: 0;
    margin: auto;
}

.visual {
    margin: 0 auto;
    text-align: center;
}

.main-text {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 500;
}

.search {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar {
    margin-bottom: 80px;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    border: 1px solid #bbb;
    padding: 13px 15px;
    box-shadow: 0 17px 20px -18px rgba(0, 0, 0, 1);
}

.search .btn-search {
    color: #fff;
    position: absolute;
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    background-color: #2a493c;
    margin: 0 0 80px 530px;
}

.search .btn-search:hover {
    color: #2a493c;;
    position: absolute;
    padding: 8px 15px;
    border-radius: 15px;
    border: 1px solid #2a493c;
    background-color: #fff;
    margin: 0 0 80px 530px;
}

/* SECTION */

.tranding {
margin: 50px 0 0 50px;
}

.tranding h1 {
    font-size: 30px;
    font-weight: 700;
    color: #2a493c;
}


/* MYPAGE*/

.header2{
    background-image: url("/static/public/header.jpg");
}

.header2 > .inner {
    height: 80px;
    position: relative;
}

.header2 .logo{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    margin-top:14px;
}
.header2 .search{
    margin-top:20px;
  height: 34px;
  position: relative;
    float:right;
}

.header2 .search input{
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}

.header2 .search input:focus{
  width: 190px;
  border-color: #669900;
}

.header2 .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  z-index: 1;
  margin: auto;
  transition: .4s;
}

.header2 .search.focused .material-icons {
  opacity: 0;
}

.hero {
text-align: center;
}


.hero-body {
    display: inline-block;
    background-color: #ebf2ef;
    border-radius: 10px;
    padding-bottom:1rem;
    margin:100px auto;
    min-width: 400px;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 1);
}

.profile-img {
    width: 96px;
    height: 96px;
    border-radius: 70%;
}


.button.is-sparta {
    background-color: #2a493c;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #2a493c;
    color: #2a493c !important;
}

.modal-content {
    width: 600px;
    max-width: 80%;
}

/* MY COMMENT */

.mycomment {
    width: 800px;
    background: #ebf2ef;
    padding:30px;
    border-radius: 10px;
    margin: 0 auto;

}

.mycomment p {
    font-size: 25px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #2a493c;
}