body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #2a493c;
    magin: 0 auto;
}

.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.is-sparta {
    color: #2a493c !important;
    font-weight: 700;
}

/*.is-rounded {*/
/*    border-radius:70%;*/
/*    overflow: hidden;*/
/*}*/

/* BUTTON */
.btn.mybtn {
    background-color: #50b5b0;;
    border-color: transparent;
    color: #fff !important;
}

 /*HEADER*/
header {
    /* position: relative; */
    width: 100%;
    background-image: url("/static/public/header.jpg");
    top: 0;
    z-index: 9;
}

header > .inner {
    position: relative;
    height: 170px;
}

header > .logo {
    position: absolute;
    top: 30px;
    left: 0;
    margin: auto;
}


/* SECTION */

.tranding {
margin: 50px 0 0 50px;
}

.tranding h1 {
    font-size: 30px;
    font-weight: 700;
    color: #2a493c;
}


/* MYPAGE*/

.header2{
    background-image: url("/static/public/header.jpg");
}


.hero {
text-align: center;
}


.hero-body {
    display: inline-block;
    background-color: #ebf2ef;
    border-radius: 10px;
    padding-bottom: 1rem;
    margin: 50px auto;
    min-width: 400px;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 1);
}

.profile-img {
    width: 96px;
    height: 96px;
    border-radius: 70%;
}

.button.is-sparta {
    background-color: #50b5b0;
    border-color: transparent;
    color: #fff !important;
}

.button .is-sparta.is-outlined {
    background-color: transparent;
    border-color: #50b5b0;
    color: #50b5b0; !important;
}

.modal-content {
    width: 600px;
    max-width: 80%;
}

/*.comment_list {*/
/*    width: 800px;*/
/*    background: #ebf2ef;*/
/*    padding:30px;*/
/*    border-radius: 10px;*/
/*    margin: 0 auto;*/
/*}*/
.comment {
    width:1000px;
    margin: 0 auto;
    padding: 0 0 30px;
    text-align: center;
}


/*.card {*/
/*    width:300px;*/
/*    display: flex;*/
/*    position: relative;*/
/*    text-align: center;*/
/*    justify-content: space-between;*/
/*    margin: 10px 0;*/

/*}*/

.card {
    border: none;
    outline: none;
    background-color: transparent;
}

.flex-row> img {
    max-width: 200px;
    width: 100%;
    box-shadow: 8px 10px 10px #A7A7A7;
}

.card-body{
    padding-left: 5px;
    padding-top: 15px;
    color: #1E2824;
}

.card-title{
    padding-top: 15px;
    color: #1E2824;
}

h5, h7, p{
    font-family: 'LeferiPoint-BlackA';
    font-size: 16px;
    font-weight: 700;
}