<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상세 페이지</title>

    <!--  font -->
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">

    <!--    JQuery -->
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>

    <!--    BootStrap -->
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
    <script src="/static/js/bootstrap/bootstrap.js"></script>

    <!--    Custom -->
    <link rel="stylesheet" href="/static/css/detail.css">

    <!--    bulma 템플릿 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script>

        $(document).ready(function () {
            show_userList();
        })

        function show_userList() {
            let artist = "{{ album.artist }}"
            let album = "{{ album.name }}"
            let encodeAlbum = ""

            /* HTML 특수문자 치환 */
            const element = document.createElement('div')
            element.innerHTML = album
            encodeAlbum = element.textContent

            $.ajax({
                type: "POST",
                url: `/detail/${artist}/${encodeAlbum}/list`,
                data: {album_give: album},
                success: function (response) {
                    const rows = response["list"]
                    let temp_html = `<h4>아직 이 앨범을 추천한 사람이 없습니다.</h4>`

                    if(rows.length === 0) {
                        $('#user-list').append(temp_html)
                    } else {
                        for(let i=0; i<rows.length; i++) {
                            const user = rows[i]["recommand"]
                            temp_html = `
                                <div class="btn" style="cursor: default">
                                    <button>${user}</button>
                                </div>
                            `
                            $('#user-list').append(temp_html)
                        }
                    }
                }
            })
        }

        function search() {
            const search = $('#find-keyword').val()
            if (search === "") return;
            location.href = `/main/${search}`
        }

        function registerAlbum() {
            const isRegist = confirm("해당 앨범을 명반으로 등록하시겠습니까?")
            if (isRegist) {
                let album = "{{ album["name"] }}",
                    artist = "{{ album["artist"] }}",
                    cover = "{{ album["image"][3]["#text"] }}",
                    username = "{{ user_info.username }}";

                $.ajax({
                    type: "POST",
                    url: "/detail/register",
                    data: {
                        album_give: album,
                        artist_give: artist,
                        cover_give: cover,
                        username_give: username
                    },
                    success: function (response) {
                        alert(response["msg"])
                    }
                })
            }
        }
    </script>

</head>
<body>

{# 헤더 #}
<div class="nav-bg" style="justify-content: center">
    <a href="/main">
        <div class="logo-mini" style="margin-right: 30px">
            <img class="logo" src="/static/public/logo_bk.png">
        </div>
    </a>
    <input id="find-keyword" class="detail_search" type="text" placeholder="Search...">
    <button class="btn btn-dark-outline detail_btn" onclick="search()">검색</button>
    <!-- 프로필 -->
    <div class="flex-row">
        <div class="flex-row">
            <div class="image_box">
                <a href="/mypage/{{ user_info.username }}">
                    <img class="img_circle" src="/static/public/{{ user_info.profile_pic_real }}">
                </a>
            </div>
            <div class="profile-name">
                <a href="/mypage/{{ user_info.username }}">
                    <h3 class="profile-text">{{ user_info.profile_name }}</h3>
                </a>
            </div>
        </div>
    </div>
</div>

{#    컨텐츠 #}
<div class="detail_content container">
    <div class="flex-row detail_content">
        <div class="flex-column info_box">
            <img src={{ album["image"][3]["#text"] }}>
            <div class="flex-column info-box">
                <div class="flex-row info">
                    {{ a_name }}
                </div>
                <div class="flex-row info">
                    {{ album["artist"] }}
                </div>
            </div>
            <div class="flex-row">
                {% for tag in album["tags"]["tag"] %}
                    <a href="{{ tag["url"] }}">#{{ tag["name"] }}</a>&nbsp;
                {% endfor %}
            </div>
        </div>
        {% if album["tracks"] %}
            <div class="track_list">
                <table class="table table-responsive">
                    {% for track in album["tracks"]["track"] %}
                        {% set track_name = track["name"] %}
                        {% set url = track["url"] %}
                        <tr onclick="window.open('{{ url }}')">
                            <td>{{ loop.index }}</td>
                            <td>{{ track_name }}</td>
                            <td>
                                <ion-icon name="play-circle-outline"></ion-icon>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        {% else %}
            <div class="exception_view">
                <h4>API 에러</h4>
            </div>
        {% endif %}
  </div>
</div>

<div class="flex-row recommend">
    <button onclick="registerAlbum()">
        <i class="fa fa-heart" aria-hidden="true"></i>
        명반 등록
    </button>
</div>
<div class="comment_box">
    <h2>이 앨범을 추천한사람</h2>
        <div class="flex-column">
            <div class="comment_list">
                <div class="flex-row user_list" id="user-list">
                </div>
            </div>
        </div>
</div>

<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>
</html>