<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>어디까지 들어봤니? | Title</title>
    <link href="/static/css/title.css" rel="stylesheet">

    <!--    JQuery -->
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
</head>
<body>
<div class="main">
    <div class="title">
        <img class="ani" src="/static/public/logo_wh.png" width="500">
    </div>
    <div class="btn">
            <button type="button" onclick="location.href='/main'">{{ text }}</button>
    </div>
</div>
</body>
</html>